{
        "address": "NQ18 37VM K2Y5 2HPY 5U80 2E0U VHUJ R7RK QSNE",
        "threads": 16,
        "name": "miner_name",
        "email":"example@gmail.com",
        "server":"siriuspool.net" ,
        "autoUpdates": {
          "enabled": true,
          "default_install_location": "~/",
         }
}
